*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;

}
.navbar{
    display: flex;
    width: 85%;
    height: 15%;
    margin: auto;
    align-items:center;
    justify-content: space-between;
}

button{
    color: aqua;
    padding: 10px 25px;
    background: transparent;
    /* border: 1px solid #fff; */
    box-shadow: 2px 3px #0d0e0d;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}


.content{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 8%;
    /* transform: translateY(-50%); */
}

h1{
    margin: 10px 0 30px;
    font-size: 5em;
    line-height: 5.5rem;
}
small{
    font-size: 23px;
}

.sidebar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    top: 0;
    right: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img,.useful-links img{
    margin: 5px auto;
    /* padding: auto; */
    display: flex;
    cursor: pointer;
    width: 35px;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 33px;
}

.social-links img:hover,.useful-links img:hover{
    transform: scale(1.35);
    transition: ease-in-out;
    animation-name: buttons;
    /* transition-delay: 0.5s; */
    transition-duration: 0.01s;
    /* padding: 15px; */
    margin: 10px auto;
}

.bubbles img{
    width: 50px;
    animation: bubble 8.5s linear infinite ;
}
.bubbles{
    /* margin: 55px; */
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: -105px;;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    25%{
        /* transform: translateY(-35vh); */
        opacity: 0.8;
    }
    75%{
        /* transform: translateY(-50vh); */
        opacity: 0.5;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0.1;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 5.4s;
    width: 45px;
}
.bubbles img:nth-child(3){
    animation-delay: 3.2s;
    width: 105px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 55px;
}
.bubbles img:nth-child(5){
    animation-delay: 1s;
    width: 75px;
}
.bubbles img:nth-child(6){
    animation-delay: 5.4s;
    width: 105px;
}
.bubbles img:nth-child(7){
    animation-delay: 2.4s;
    width: 45px;
}
.bubbles img:nth-child(8){
    animation-delay: 4.9s;
    width: 15px;
}


